BTA_SQL_SERVER=BIGTEDS
BTA_SQL_DATABASE=RugbyAnalytics
BTA_SQL_TRUSTED_CONNECTION=yes
BTA_SQL_DRIVER=ODBC Driver 17 for SQL Server
BTA_APP_HOST=127.0.0.1
BTA_APP_PORT=8050
BTA_APP_DEBUG=false
BTA_CACHE_TTL_SECONDS=300
BTA_DATA_UPDATE_SEASON=2026
BTA_DATA_UPDATE_TIMEOUT_SECONDS=900
BTA_UPDATE_RUN_SCRAPER=false
BTA_UPDATE_RUN_PREDICTIONS=true
